<a routerLink="/add-product">Add new</a>
<input type="text" [(ngModel)]="query" (ngModelChange)="search(query)" />

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Unit Price</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td>{{product.unitPrice}}</td>
    <td>
      <a (click)="delete(product.id)">Delete</a>
      <a routerLink="/products/edit/{{product.id}}">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
