<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-default" routerLink="/add-product">Add new</a>
  </div>
  <div class="col-sm-6">
    <form action="#" class="text-right">
      <label for="SearchProduct">
        Search :
        <input id="SearchProduct" placeholder="Search Product" type="text" [formControl]="queryControl">
      </label>
    </form>
  </div>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Unit Price</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.name}}</td>
    <td>{{product.unitPrice}}</td>
    <td>
      <a class="btn btn-danger" (click)="delete(product.id)"><i class="glyphicon glyphicon-trash"></i></a>
      <a class="btn btn-info" routerLink="/products/edit/{{product.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
    </td>
  </tr>
  </tbody>
</table>
